<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alrimjang.mapper.NoticeMapper">

    <select id="findAll" resultType="com.alrimjang.model.entity.Notice">
        SELECT * FROM
    </select>

</mapper>